@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(210, 11%, 15%);
  --muted: hsl(210, 11%, 96%);
  --muted-foreground: hsl(210, 6%, 46%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(210, 11%, 15%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(210, 11%, 15%);
  --border: hsl(210, 11%, 90%);
  --input: hsl(210, 11%, 90%);
  --primary: hsl(218, 81%, 38%);
  --primary-foreground: hsl(210, 100%, 99%);
  --secondary: hsl(218, 84%, 23%);
  --secondary-foreground: hsl(210, 100%, 99%);
  --accent: hsl(217, 78%, 58%);
  --accent-foreground: hsl(210, 100%, 99%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(60, 9%, 98%);
  --ring: hsl(210, 11%, 15%);
  --radius: 0.5rem;
  --light: hsl(210, 11%, 97%);
  --medium: hsl(210, 6%, 46%);
  --dark: hsl(210, 11%, 20%);
}

.dark {
  --background: hsl(240, 10%, 4%);
  --foreground: hsl(0, 0%, 98%);
  --muted: hsl(240, 4%, 16%);
  --muted-foreground: hsl(240, 5%, 65%);
  --popover: hsl(240, 10%, 4%);
  --popover-foreground: hsl(0, 0%, 98%);
  --card: hsl(240, 10%, 4%);
  --card-foreground: hsl(0, 0%, 98%);
  --border: hsl(240, 4%, 16%);
  --input: hsl(240, 4%, 16%);
  --primary: hsl(217, 78%, 58%);
  --primary-foreground: hsl(210, 100%, 99%);
  --secondary: hsl(240, 4%, 16%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --accent: hsl(240, 4%, 16%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(0, 63%, 31%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --ring: hsl(240, 5%, 84%);
  --light: hsl(240, 4%, 16%);
  --medium: hsl(240, 5%, 65%);
  --dark: hsl(0, 0%, 98%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .text-light {
    color: hsl(var(--light));
  }
  
  .text-medium {
    color: hsl(var(--medium));
  }
  
  .text-dark {
    color: hsl(var(--dark));
  }
  
  .bg-light {
    background-color: hsl(var(--light));
  }
  
  .bg-medium {
    background-color: hsl(var(--medium));
  }
  
  .bg-dark {
    background-color: hsl(var(--dark));
  }
  
  .border-light {
    border-color: hsl(var(--light));
  }
  
  .border-medium {
    border-color: hsl(var(--medium));
  }
  
  .border-dark {
    border-color: hsl(var(--dark));
  }
}
